openapi: '3.0.1'
info:
  version: '1.0.0'
  title: Checkout.com API Reference
  x-logo:
    url: "https://assets.checkout.com/docs/logos/checkout-api-reference-logo.svg"
    backgroundColor: "#F0F3F7"
    altText: "Checkout.com API logo"
  contact:
    name: Checkout.com Support
    url: 'https://checkout.com'
    email: support@checkout.com
  license:
    name: Checkout.com
    url: 'https://checkout.com/api/license/'
  termsOfService: 'https://checkout.com/terms/'
  description: >
    # Introduction

    Checkout.com provides a collection of APIs that enable you to process and manage payments.  
    

    Our APIs accept and return JSON in the HTTP body and return HTTP response codes to indicate errors. You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href="https://docs.checkout.com/docs/sdks" target="_blank">SDKs</a>.  


    Our unified payments API allows you to accept payments from cards, digital wallets and the most popular alternative payment methods, as well as pay out to a variety of destinations, all using the same integration.


    And with our webhook management, events and disputes APIs, you can keep on top of your transactions and react to any chargebacks, keeping your business running smoothly.

    # Authentication

    When you sign up for an account, you are given a secret and public API key
    pair. You authenticate with our API by providing the appropriate key in
    the request Authorization header.


    Never share your secret keys. Keep them guarded and secure.
servers:
  - url: https://api.checkout.com
    description: Live API
  - url: https://api.sandbox.checkout.com
    description: Sandbox API
tags:
  - name: Payments
    description: Process and manage payments from a variety of sources and to various destinations all within one integration.
  - name: Sources
    description: Create a payment source for a customer that you can use for one or more payments.
  - name: Tokens
    description: Create a token that represents a card's details (or their tokenized form in a digital wallet) that you can later use to request a payment, without you having to process or store any sensitive information.
  - name: Instruments
    description: Create a payment instrument that you can later use as the source or destination for one or more payments.
  - name: Webhooks
    description: Create and manage the webhook notifications you receive to keep up to date with the status of your transactions.
  - name: Events
    description: Use events to monitor and get insights into your transactions.
  - name: Disputes
    description: Keep track of and act on your open disputes (also known as chargebacks) to submit the best possible response.
  # - name: Files
  #   description: |
  #     Upload files to be used as input to other APIs
# x-tagGroups:
#   - name: Gateway
#     tags:
#       - Payments
#       - Tokens
#       - Sources
#       - Files
#   - name: Broadcast
#     tags:
#       - Events
#       - Webhooks
paths:
  /disputes:
    get:
      tags:
        - Disputes
      summary: Get disputes
      description:
        Returns a list of all disputes against your business. The results will be returned in reverse chronological order, 
        showing the last modified dispute (for example, where you've recently added a piece of evidence) first.
        You can use the optional parameters below to skip or limit results.
      parameters:
        - in: query
          name: limit
          schema: 
            type: integer
            minimum: 1
            maximum: 250
            default: 50
          required: false
          description: The numbers of results to return
        - in: query
          name: skip
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of results to skip
        - in: query
          name: from
          schema:
            type: string
            format: ISO-8601
          required: false
          description: The date and time from which to filter disputes, based on the dispute's `last_update` field
        - in: query
          name: to
          schema:
            type: string
            format: ISO-8601
          required: false
          description: The date and time until which to filter disputes, based on the dispute's `last_update` field
        - in: query
          name: id
          schema:
            type: string
          required: false
          description: The unique identifier of the dispute
        - in: query
          name: statuses
          schema:
            type: string
            example: evidence_required,evidence_under_review
          required: false
          description: One or more comma-separated statuses. This works like a logical *OR* operator
        - in: query
          name: payment_id
          schema:
            type: string
          required: false
          description: The unique identifier of the payment
        - in: query
          name: payment_reference
          schema:
            type: string
          required: false
          description: An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`
        - in: query
          name: payment_arn
          schema:
            type: string
          required: false
          description: The acquirer reference number (ARN) that you can use to query the issuing bank
        - in: query
          name: this_channel_only
          schema:
            type: boolean
          required: false
          description: If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business
      responses:
        "200":
          description: Disputes retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputePaged"
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable paging
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagingError"
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst disputes = await cko.disputes.get({\n  limit: 5,\n  id: \"dsp_bc94ebda8d275i461229\",\n});"
  /disputes/{dispute_id}:
    get:
      tags:
        - Disputes
      summary: Get dispute details
      description:
        Returns all the details of a dispute using the dispute identifier.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      responses:
        "200":
          description: Dispute retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dispute"
        "401":
          description: Unauthorized
        "404":
          description: Dispute not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst disputeDetails = await cko.disputes.getDetails(\n  \"dsp_bc94ebda8d275i461229\"\n);"
  /disputes/{dispute_id}/accept:
    post:
      tags:
        - Disputes
      summary: Accept dispute
      description:
        If a dispute is legitimate, you can choose to accept it. This will close it for you and remove it from your list of open disputes. There are no further financial implications.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      responses:
        "204":
          description: Dispute accepted successfully
        "401":
          description: Unauthorized
        "404":
          description: Dispute not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst accept = await cko.disputes.accept(\"dsp_bc94ebda8d275i461229\");"
  /disputes/{dispute_id}/evidence:
    put:
      tags:
        - Disputes
      summary: Provide dispute evidence
      description: |
        Adds supporting evidence to a dispute. Before using this endpoint, you first need to [upload your files](#tag/Disputes/paths/~1files/post) using the file uploader. You will receive a file id (prefixed by `file_`) which you can then use in your request.
        Note that this only attaches the evidence to the dispute, it does not send it to us. Once ready, you will need to submit it.
    
        **You must provide at least one evidence type in the body of your request.**
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProvideEvidenceRequest"
            required: true
      responses:
        "204":
          description: Dispute evidence provided successfully
        "400":
          description: Unprocessable
        "401":
          description: Unauthorized
        "404":
          description: Dispute not found
        "422":
          description: Unprocessable entity
    
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst evidence = await cko.disputes.provideEvidence(\n  \"dsp_bc94ebda8d275i461229\",\n  {\n    proof_of_delivery_or_service_text: \"http://checkout.com/document.pdf\",\n  }\n);"
    get:
      tags:
        - Disputes
      summary: Get dispute evidence
      description: |
        Retrieves a list of the evidence submitted in response to a specific dispute. 
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      responses:
        "200":
          description: Dispute evidence retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Evidence"
        "401":
          description: Unauthorized
        "404":
          description: Dispute not found
    
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst getEvidence = await cko.disputes.getEvidence(\"dsp_bc94ebda8d275i461229\");"
    post:
      tags:
        - Disputes
      summary: Submit dispute evidence
      description: 
        With this final request, you can submit the evidence that you have previously provided. Make sure you have provided all the relevant information before using this request.
        You will not be able to amend your evidence once you have submitted it.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      responses:
        "204":
          description: Dispute evidence submitted successfully
        "401":
          description: Unauthorized
        "404":
          description: Dispute not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst submitEvidence = await cko.disputes.submit(\"dsp_bc94ebda8d275i461229\");"
  /event-types:
    get:
      tags:
        - Events
      summary: Retrieve event types
      description: Retrieve a list of event types grouped by their respective version that you can configure on your webhooks.
      parameters:
        - in: query
          name: version
          schema:
            type: string
          description: The API version for which you want to retrieve the event types. Set this to `1.0` for the legacy API or `2.0` for the Unified Payments API. If no version is specified, event types for both versions will be returned.
          required: false
      responses:
        '200':
          description: Event types retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventTypesObject'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst events = await cko.events.retrieveEventTypes();"
  /events/{eventId}:
    get:
      tags:
        - Events
      summary: Retrieve event
      description: |
        Retrieves the event with the specified identifier string. The event `data` includes the full event details, the schema of which will vary based on the `type`.
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
      responses:
        "200":
          description: Event retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventObject"
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        "401":
          description: Unauthorized
        "404":
          description: Event not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst event = await cko.events.retrieveEvent(\"evt_c2qelfixai2u3es3ksovngkx3e\");"
  /events/{eventId}/notifications/{notificationId}:
    get:
      tags:
        - Events
      summary: Retrieve event notification
      description: Retrieves the attempts for a specific event notification
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
        - in: path
          name: notificationId
          schema:
            type: string
            pattern: "^(ntf)_(\\w{26})$"
          required: true
          description: The notification identifier
      responses:
        '200':
          description: Notification retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Event or notification not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst notification = await cko.events.retrieveEventNotification({\n  eventId: \"evt_c2qelfixai2u3es3ksovngkx3e\",\n  notificationId: \"ntf_wqjkqpgjy33uxoywcej4fnw6qm\",\n});"
  /events/{eventId}/webhooks/{webhookId}/retry:
    post:
      tags:
        - Events
      summary: Retry webhook
      description: Retries a specific webhook notification for the given event
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
        - in: path
          name: webhookId
          schema:
            type: string
            pattern: "^(wh)_(\\w{32})$"
          required: true
          description: The webhook identifier
          example: "wh_387ac7a83a054e37ae140105429d76b5"
      responses:
        '202':
          description: Retry accepted
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Event or webhook not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst retry = await cko.events.retry({\n  eventId: \"evt_c2qelfixai2u3es3ksovngkx3e\",\n  webhookId: \"wh_mpkyioafmajulnhjvwmrklenb4\",\n});"
  /events/{eventId}/webhooks/retry:
    post:
      tags:
        - Events
      summary: Retry all webhooks
      description: Retries all webhook notifications configured for the specified event
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
      responses:
        '202':
          description: Retry accepted
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Event or webhook not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst retryAll = await cko.events.retryAll(\"evt_c2qelfixai2u3es3ksovngkx3e\");"
  /files:
    post:
      tags:
        - Disputes
      summary: Upload file
      description:
        Upload a file to use as evidence in a dispute. Your file must be in either JPEG/JPG, PNG or PDF format, and be no larger than 4MB.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/File"
      responses:
        "200":
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUploadResponse"
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable
        "429":
          description: Too many requests
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst file = await cko.files.upload({\n  path: fs.createReadStream(\"./test/files/evidence.jpg\"),\n  purpose: \"dispute_evidence\",\n});"
  /files/{file_id}:
    get:
      tags:
        - Disputes
      summary: Get file information
      description:
        Retrieve information about a file that was previously uploaded.
      parameters:
        - in: path
          name: file_id
          schema:
            type: string
          required: true
          description: The file identifier. It is always prefixed by `file_`.
      responses:
        "200":
          description: File information retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResult"
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        "401":
          description: Unauthorized
        "404":
          description: File not found
        "429":
          description: Too many requests or duplicate request detected
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst getFile = await cko.files.getFile(\"file_zna32sccqbwevd3ldmejtplbhu\");"
  /instruments:
    post:
      tags:
        - Instruments
      summary: Create an instrument
      description: |
        Exchange a single use Checkout.com token for a payment instrument reference, that can be used at any time to request one or more payments.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentRequest'
      responses:
        '201':
          description: Instrument created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentResponse'  
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
             schema:
               $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal Error
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\ntry {\n  const instrument = await cko.instruments.create({\n    // infered type \"token\",\n    token: \"tok_bzi43qc6jeee5mmnfo4gnsnera\", // Generated by Checkout.Frames\n  });\n} catch (err) {\n  console.log(err.name);\n}"
  /payments:
    post:
      tags:
        - Payments
      summary: Request a payment or payout
      description: |
        To accept payments from <a href="https://docs.checkout.com/docs/cards" target="blank">cards</a>, <a href="https://docs.checkout.com/docs/wallets" target="blank">digital wallets</a> and many <a href="https://docs.checkout.com/docs/bank-transfers" target="blank">alternative payment methods</a>, specify the `source.type` field, along with the source-specific data.
    
        To <a href="https://docs.checkout.com/docs/pay-out-to-a-card" target="blank">pay out to a card</a>, specify the destination of your payout using the `destination.type` field, along with the destination-specific data.
    
        To verify the success of the payment, check the `approved` field in the response.
    
      parameters:
        - in: header
          name: Cko-Idempotency-Key
          schema:
            type: string
          required: false
          description: An optional idempotency key for safely retrying payment requests
    
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PaymentRequest'
                - $ref: '#/components/schemas/Payout'
            example:
              source:
                type: token
                token: tok_4gzeau5o2uqubbk6fufs3m7p54
              amount: 6540
              currency: USD
              payment_type: Recurring
              reference: "ORD-5023-4E89"
              description: "Set of 3 masks"
              capture: true
              capture_on: "2019-09-10T10:11:12Z"
              customer:
                id: "cus_udst2tfldj6upmye2reztkmm4i"
                email: "jokershere@gmail.com"
                name: "Jack Napier"
              billing_descriptor:
                name: SUPERHEROES.COM
                city: GOTHAM
              shipping:
                address:
                  address_line1: Checkout.com
                  address_line2: 90 Tottenham Court Road
                  city: London
                  state: London
                  zip: W1T 4TJ
                  country: GB
                phone:
                  country_code: "+1"
                  number: 415 555 2671
              3ds:
                enabled: true
                attempt_n3d: true
                eci: "05"
                cryptogram: AgAAAAAAAIR8CQrXcIhbQAAAAAA=
                xid: MDAwMDAwMDAwMDAwMDAwMzIyNzY=
                version: "2.0.1"
              previous_payment_id: "pay_fun26akvvjjerahhctaq2uzhu4"
              risk:
                enabled: false
              success_url: "http://example.com/payments/success"
              failure_url: "http://example.com/payments/fail"
              payment_ip: "90.197.169.245"
              recipient:
                dob: "1985-05-15"
                account_number: "5555554444"
                zip: W1T
                last_name: Jones
              processing:
                mid: "1234567"
              metadata:
                coupon_code: "NY2018"
                partner_id: 123989
    
      responses:
        '201':
          description: Payment processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
              example:
                id: "pay_mbabizu24mvu3mela5njyhpit4"
                action_id: "act_mbabizu24mvu3mela5njyhpit4"
                amount: 6540
                currency: "USD"
                approved: true
                status: "Authorized"
                auth_code: "770687"
                response_code: "10000"
                response_summary: "Approved"
                3ds:
                  downgraded: true
                  enrolled: "N"
                risk:
                  flagged: true
                source:
                  type: "card"
                  id: "src_nwd3m4in3hkuddfpjsaevunhdy"
                  billing_address:
                    address_line1: "Checkout.com"
                    address_line2: "90 Tottenham Court Road"
                    city: "London"
                    state: "London"
                    zip: "W1T 4TJ"
                    country: "GB"
                  phone:
                    country_code: "+1"
                    number: "415 555 2671"
                  last4: "4242"
                  fingerprint: "F31828E2BDABAE63EB694903825CDD36041CC6ED461440B81415895855502832"
                  bin: "424242"
                customer:
                  id: "cus_udst2tfldj6upmye2reztkmm4i"
                  email: "jokershere@gmail.com"
                  name: "Jack Napier"
                processed_on: '2019-09-10T10:11:12Z'
                reference: "ORD-5023-4E89"
                processing:
                  retrieval_reference_number: "909913440644"
                  acquirer_transaction_id: "440644309099499894406"
                eci: "06"
                scheme_id: "489341065491658"
                links:
                  self:
                    href: "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4"
                  action:
                    href: "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/actions"
                  void:
                    href: "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/captures"
                  capture:
                    href: "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/voids"
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '202':
          description: Payment asynchronous or further action required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAcceptedResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '429':
          description: Too many requests or duplicate request detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '502':
          description: Bad gateway
      x-code-samples:
        - lang: C#
          source: "var api = CheckoutApi.Create(\"your secret key\");\nvar tokenSource = new TokenSource(\"tok_ubfj2q76miwundwlk72vxt2i7q\");\nvar paymentRequest = new PaymentRequest<TokenSource>(tokenSource, Currency.USD, 5600)\n{\n    Reference = \"ORD-090857\",\n    Capture = false,\n    ThreeDs = true\n};\n\ntry\n{\n    var response = await api.Payments.RequestAsync(paymentRequest);\n\n    if (response.IsPending && response.Pending.RequiresRedirect())\n    {\n        return Redirect(response.Pending.GetRedirectLink().Href);\n    }\n\n    if (response.Payment.Approved)\n        return PaymentSucessful(response.Payment);\n\n    return PaymentDeclined(response.Payment);\n}\ncatch (CheckoutValidationException validationEx)\n{\n    return ValidationError(validationEx.Error);\n}\ncatch (CheckoutApiException apiEx)\n{\n    Log.Error(\"Payment request failed with status code {HttpStatusCode}\", apiEx.HttpStatusCode);\n    throw;\n}"
        - lang: Java
          source: "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nTokenSource tokenSource = new TokenSource(\"tok_ubfj2q76miwundwlk72vxt2i7q\");\nPaymentRequest<TokenSource> paymentRequest = PaymentRequest.fromSource(tokenSource, Currency.USD, 5600);\npaymentRequest.setReference(\"ORD-090857\");\npaymentRequest.setCapture(false);\npaymentRequest.setThreeDS(ThreeDSRequest.from(true));\n\ntry {\n    PaymentResponse response = api.paymentsClient().requestAsync(paymentRequest).get();\n\n    if (response.isPending() && response.getPending().requiresRedirect()) {\n        return redirect(response.getPending().getRedirectLink().getHref());\n    }\n\n    if (response.getPayment().isApproved())\n        return paymentSucessful(response.getPayment());\n\n    return paymentDeclined(response.getPayment());\n} catch (CheckoutValidationException e) {\n    return validationError(e.getError());\n} catch (CheckoutApiException e) {\n    LOG.severe(\"Payment request failed with status code \" + e.getHttpStatusCode());\n    throw e;\n}"
        - lang: Node (Beta)
          source: "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n    const payment = await cko.payments.request({\n        source: {\n            // infered type: \"token\"\n            token: 'tok_bzi43qc6jeee5mmnfo4gnsnera' // Generated by Checkout.Frames\n            billing_address: {\n                address_line1: 'Wall Street',\n                address_line2: 'Dollar Avenue',\n                city: 'London',\n                state: 'London',\n                zip: 'W1W W1W',\n                country: 'GB'\n            },\n            phone: {\n                country_code: '44',\n                number: '7123456789'\n            }\n        },\n        currency: 'USD',\n        amount: 1000,\n        payment_type: 'Regular',\n        reference: 'ORDER 1234',\n        description: 'Mint Tea',\n        customer: {\n            email: 'new_user@email.com',\n            name: 'John Smith'\n        },\n        metadata: {\n            myCustomProp: {\n                value: 1\n            }\n        }\n    });\n\n} catch (err) {\n    console.log(err.name)\n}"
        - lang: PHP
          source: "<?php\n\n$checkout = new CheckoutApi('your secret key');\n\n$method = new TokenSource('tok_ubfj2q76miwundwlk72vxt2i7q');\n$payment = new Payment($method, 'USD');\n\n$payment->amount = 5600;\n$payment->capture = false;\n$payment->reference = 'ORD-090857';\n$payment->threeDs = new ThreeDs(true);\n\ntry {\n    $details = $checkout->payments()->request($payment);\n\n    $redirection = $details->getRedirection();\n    if ($redirection) {\n        return $redirection;\n    }\n\n    return $details;\n\n} catch (CheckoutModelException $ex) {\n    return $ex->getErrors();\n} catch (CheckoutHttpException $ex) {\n    return $ex->getErrors();\n}"
  /payments/{id}:
    get:
      tags:
        - Payments
      summary: Get payment details
      description: |
        Returns the details of the payment with the specified identifier string.
    
        If the payment method requires a redirection to a third party (e.g., 3D Secure),
        the redirect URL back to your site will include a `cko-session-id` query parameter
        containing a payment session ID that can be used to obtain the details of the payment, for example:
    
        http://example.com/success?cko-session-id=sid_ubfj2q76miwundwlk72vxt2i7q.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay|sid)_(\\w{26})$"
          required: true
          description: The payment or payment session identifier
      responses:
        '200':
          description: Payment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Payment not found
      x-code-samples:
        - lang: C#
          source: "var api = CheckoutApi.Create(\"your secret key\");\nvar sessionId = \"sid_y3oqhf46pyzuxjbcn2giaqnb44\";\nGetPaymentResponse payment = await api.Payments.GetAsync(sessionId);\n\nif (payment.Approved)\n{            \n    var cardSourceId = payment.Source.AsCard().Id;\n}"
        - lang: Java
          source: "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString sessionId = \"sid_y3oqhf46pyzuxjbcn2giaqnb44\";\nGetPaymentResponse payment = api.paymentsClient().getAsync(sessionId).get();\n\nif (payment.isApproved()) {\n    String cardSourceId = ((CardSourceResponse)payment.getSource()).getId();\n}"
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.get(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\");"
        - lang: PHP
          source: "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$threeDsSessionId = 'sid_y3oqhf46pyzuxjbcn2giaqnb44';\n\ntry {\n\n	$details = $checkout->payments()->details($threeDsSessionId);\n	return $details->getSourceId();\n\n} catch(CheckoutHttpException $ex) {\n	return $ex->getErrors();\n}"
  /payments/{id}/actions:
    get:
      tags:
        - Payments
      summary: Get payment actions
      description: |
        Returns all the actions associated with a payment ordered by processing date in descending order (latest first).
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
          required: true
          description: The payment identifier
      responses:
        '200':
          description: Payment actions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentActionsResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Payment not found
      x-code-samples:
        - lang: C#
          source: "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nIEnumerable<PaymentAction> paymentActions = await api.Payments.GetActionsAsync(paymentId);"
        - lang: Java
          source: "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nList<PaymentAction> paymentActions = api.paymentsClient().getActionsAsync(paymentId).get();"
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.getActions(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\");"
        - lang: PHP
          source: "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\nreturn $checkout->payments()->actions($paymentID);"
  /payments/{id}/captures:
    post:
      tags:
        - Payments
      summary: Capture a payment
      description: |
        Captures a payment if supported by the payment method.
    
        For card payments, capture requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the capture is successful.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
          required: true
          description: The payment identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureRequest'
      responses:
        '202':
          description: Capture accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureAcceptedResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '403':
          description: Capture not allowed
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Payment not found
        '502':
          description: Bad gateway
      x-code-samples:
        - lang: C#
          source: "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full capture\nawait api.Payments.CaptureAsync(paymentId);\n\n// Or partial capture\nvar captureRequest = new CaptureRequest\n{\n    Reference = \"your reference\",\n    Amount = 100\n};\n\nawait api.Payments.CaptureAsync(paymentId, captureRequest);"
        - lang: Java
          source: "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full capture\napi.paymentsClient().captureAsync(paymentId).get();\n\n// Or partial capture\nCaptureRequest captureRequest = CaptureRequest.builder()\n    .reference(\"your reference\")\n    .amount(100)\n    .build();\n\napi.paymentsClient().captureAsync(paymentId, captureRequest).get();"
        - lang: Node (Beta)
          source: "import import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst payment = await cko.payments.capture('pay_je5hbbb4u3oe7k4u3lbwlu3zkq', {\n    amount: 1000,\n    reference: 'CAPTURE ORDER 1234',\n    metadata: {\n        value: 'my value'\n    }\n});"
        - lang: PHP
          source: "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\n// Full capture\n$capture = new Capture($paymentID);\n\n// Or partial capture\n$capture = new Capture($paymentID);\n$capture->reference = 'your reference';\n$capture->amount = 100;\n\nreturn $checkout->payments()->capture($capture);"
  /payments/{id}/refunds:
    post:
      tags:
        - Payments
      summary: Refund a payment
      description: |
        Refunds a payment if supported by the payment method.
    
        For card payments, refund requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the refund is successful.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
          required: true
          description: The payment identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '202':
          description: Refund accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundAcceptedResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Refund not allowed
        '404':
          description: Payment not found
        '502':
          description: Bad gateway
      x-code-samples:
        - lang: C#
          source: "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full refund\nawait api.Payments.RefundAsync(paymentId);\n\n// Or partial refund\nvar refundRequest = new RefundRequest\n{\n    Reference = \"your reference\",\n    Amount = 100\n};\n\nawait api.Payments.RefundAsync(paymentId, refundRequest);"
        - lang: Java
          source: "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full refund\napi.paymentsClient().refundAsync(paymentId).get();\n\n// Or partial refund\nRefundRequest refundRequest = RefundRequest.builder()\n    .reference(\"your reference\")\n    .amount(100)\n    .build();\n\napi.paymentsClient().refundAsync(paymentId, refundRequest).get();"
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.refund(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\", {\n  amount: 1000,\n  reference: \"REFUND ORDER 1234\",\n  metadata: {\n    value: \"my value\"\n  }\n});"
        - lang: PHP
          source: "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\n// Full refund\n$refund = new Refund($paymentID);\n\n// Or partial refund\n$refund = new Refund($paymentID);\n$refund->reference = 'your reference';\n$refund->amount = 100;\n\nreturn $checkout->payments()->refund($refund);"
  /payments/{id}/voids:
    post:
      tags:
        - Payments
      summary: Void a payment
      description: |
        Voids a payment if supported by the payment method.
    
        For card payments, void requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the void is successful.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
          required: true
          description: The payment identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
      responses:
        '202':
          description: Void accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidAcceptedResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Void not allowed
        '404':
          description: Payment not found
        '502':
          description: Bad gateway
      x-code-samples:
        - lang: C#
          source: "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nawait api.Payments.VoidAsync(paymentId);"
        - lang: Java
          source: "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\napi.paymentsClient().voidAsync(paymentId).get();"
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.void(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\", {\n  amount: 1000,\n  reference: \"VOID ORDER 1234\",\n  metadata: {\n    value: \"my value\"\n  }\n});"
        - lang: PHP
          source: "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\nreturn $checkout->payments()->void(new Voids($paymentID));"
  /reporting/payments:
    servers:
      - url: https://api.checkout.com
        description: Live API
        
    get:
      tags:
        - Reconciliation
      summary: Get JSON payments report
      description:
        Returns a JSON report containing all payments within your specified parameters.
        You can reconcile the data from this report against your statements (which can be found in the <a href="https://hub.checkout.com/login" target="_blank">Hub</a>), the list of payments in the Hub (using the `Reference` field) or your own systems.
        *Note:* no payments from before 7 February 2019 at 00.00.00 UTC will appear when using the payments endpoint. To view earlier payments, please contact our support team.
    
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          required: false
          description: Date and time from which to search for payments
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          required: false
          description: Date and time until which to search for payments
        - in: query
          name: reference
          schema:
            type: string
          required: false
          description: Reference of a specific payment to search for
        - in: query
          name: limit
          schema:
            type: integer
          required: false
          description: Sets a limit on the number of results
          maximum: 500
          default: 200
    
      responses:
        '201':
          description: Payments report retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsReportResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '502':
          description: Bad gateway
  /reporting/payments/{paymentId}:
    servers:
      - url: https://api.checkout.com
        description: Live API
    
    get:
      tags:
        - Reconciliation
      summary: Get JSON single payment report
      description:
        Returns a JSON payment report containing all of the data related to a specific payment, based on the payment's identifier.
        *Note:* no payments from before 7 February 2019 at 00.00.00 UTC will appear when using the payments endpoint. To view earlier payments, please contact our support team.
    
      parameters:
        - in: path
          name: paymentId
          pattern: "^(pay)_(\\w{26})$"
          schema:
            type: string
          required: true
          description: The unique payment identifier
    
      responses:
        '201':
          description: Payment report returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsReportResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '502':
          description: Bad gateway
  /reporting/payments/download:
    servers:
      - url: https://api.checkout.com
        description: Live API
    
    get:
      tags:
        - Reconciliation
      summary: Get CSV payments report
      description: 
        In addition to the JSON format returned by the `reporting/payments` endpoint, you can also download a CSV report containing the same data.
        Learn more about <a href="https://docs.checkout.com/docs/payments-endpoint#section-how-to-read-the-csv-file" target="_blank">how to read your CSV report</a>.
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          required: false
          description: Date and time from which to search for payments
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          required: false
          description: Date and time until which to search for payments
  /reporting/statements:
    servers:
      - url: https://api.checkout.com
        description: Live API
    
    get:
      tags:
        - Reconciliation
      summary: Get JSON statements report
      description: Returns a JSON report containing all statements within your specified parameters. Please note that the timezone for the request will be UTC.
    
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          required: false
          description: Date and time from which to search for statements
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          required: false
          description: Date and time until which to search for statements
    
      responses:
        '201':
          description: Statements report successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatementsReportResponse"
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        '502':
          description: Bad gateway
  /reporting/statements/{statementId}/payments/download:
    servers:
      - url: https://api.checkout.com
        description: Live API
    
    get:
      tags:
        - Reconciliation
      summary: Get CSV single statement report
      description: Downloads a CSV statement report containing all of the data related to a specific statement, based on the statement's identifier.
    
      parameters:
        - in: path
          name: StatementId
          example: "190110B107654"
          schema:
            type: string
          required: true
          description: The unique statement identifier
  /reporting/statements/download:
    servers:
      - url: https://api.checkout.com
        description: Live API
    
    get:
      tags:
        - Reconciliation
      summary: Get CSV statements report
      description: In addition to the JSON format returned by the `reporting/statements` endpoint, you can also download a CSV report containing the same data.
        
  /sources:
    post:
      tags:
        - Sources
      summary: Add a payment source
      description: |
        Add a reusable payment source, like a <a href="https://docs.checkout.com/docs/sepa-direct-debit" target="blank">SEPA Direct Debit</a>, that you can later use to make one or more payments.
        Payment sources are linked to a specific customer and cannot be shared between customers.
    
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceRequest'
      responses:
        '201':
          description: Payment source added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddSourceResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '502':
          description: Bad gateway
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n    const payment = await cko.sources.add({\n        // infered type: \"sepa\"\n        source: {\n            token: 'tok_bzi43qc6jeee5mmnfo4gnsnera' // Generated by Checkout.Frames\n            billing_address: {\n                address_line1: 'Wall Street',\n                address_line2: 'Dollar Avenue',\n                city: 'London',\n                state: 'London',\n                zip: 'W1W W1W',\n                country: 'GB'\n            },\n            phone: {\n                country_code: '44',\n                number: '7123456789'\n            }\n        },\n        currency: 'USD',\n        amount: 1000,\n        payment_type: 'Regular',\n        reference: 'ORDER 1234',\n        description: 'Mint Tea',\n        customer: {\n            email: 'new_user@email.com',\n            name: 'John Smith'\n        },\n        metadata: {\n            myCustomProp: {\n                value: 1\n            }\n        }\n    });\n\n} catch (err) {\n    console.log(err.name)\n}"
  /tokens:
    post:
      tags:
        - Tokens
      summary: Request a token
      description: |
        Exchange a digital wallet payment token or card details for a reference token that can be used later to request a card payment. Tokens are single use and expire after 15 minutes. 
        To create a token, please authenticate using your public key. 
    
        **Please note:** You should only use the `card` type for testing purposes.
    
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '201':
          description: Reference token created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\", { pk: \"pk_YYYY\" });\n\ntry {\n  const token = await cko.tokens.request({\n    // infered type: \"applepay\"\n    token_data: {\n      version: \"EC_v1\",\n      data: \"t7GeajLB9skXB6QSWfEpPA4WPhDqB7ekdd+F7588arLzve...\",\n      signature: \"MIAGCSqGbGUg...\",\n      header: {\n        ephemeralPublicKey: \"MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgA...\",\n        transactionId: \"3cee89679130a4b...\",\n      },\n    },\n  });\n} catch (err) {\n  console.log(err.name);\n}"
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: Retrieve webhooks
      description: |
        Retrieves the webhooks configured for the channel identified by your API key
      parameters: []
      responses:
        '200':
          description: Configured webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '204':
          description: No webhooks configured
        '401':
          description: Unauthorized
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhooks = await cko.webhooks.retrieveWebhooks();"
    post:
      tags:
        - Webhooks
      summary: Register webhook
      description: |
        Register a new webhook endpoint that Checkout.com will post all or selected events to
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '201':
          description: Webhook registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: URL already registered for another webhook
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.registerWebhook({\n  url: \"https://example.com/webhook\",\n  active: true,\n  headers: {\n    authorization: \"1234\",\n  },\n  content_type: \"json\",\n  event_types: [\"payment_approved\", \"payment_captured\"],\n});"
  /webhooks/{id}:
    get:
      tags:
        - Webhooks
      summary: Retrieve webhook
      description: |
        Retrieves the webhook with the specified identifier string
      parameters:
        - name: id
          required: true
          schema:
            type: string
            pattern: "^(wh)_(\\w{32})$"
          in: path
          description: |
            The webhook identifier
          example: "wh_387ac7a83a054e37ae140105429d76b5"
      responses:
        '200':
          description: Webhook was retrieved successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/WebhookRequest'
                required:
                  - url
        '401':
          description: Unauthorized
        '404':
          description: Webhook not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.retrieveWebhook(\n  \"wh_tdt72zlbe7cudogxdgit6nwk6i\"\n);"
    put:
      tags:
        - Webhooks
      summary: Update webhook
      description: |
        Updates an existing webhook
      parameters:
        - name: id
          required: true
          schema:
            type: string
            pattern: "^(wh)_(\\w{32})$"
          in: path
          description: |
            The webhook identifier
          example: "wh_387ac7a83a054e37ae140105429d76b5"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Updated webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Webhook not found
        '409':
          description: URL already registered for another webhook
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.updateWebhook(\n  \"wh_ahun3lg7bf4e3lohbhni65335u\",\n  {\n    url: \"https://example.com/webhooks/updated\",\n    active: true,\n    headers: {\n      authorization: \"1234\",\n    },\n    content_type: \"json\",\n    event_types: [\"payment_approved\", \"payment_captured\"],\n  }\n);"
    patch:
      tags:
        - Webhooks
      summary: Partially update webhook
      description: Updates all or some of the registered webhook details
      parameters:
        - name: id
          required: true
          schema:
            type: string
            pattern: "^(wh)_(\\w{32})$"
          in: path
          description: |
            The webhook identifier
          example: "wh_387ac7a83a054e37ae140105429d76b5"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Updated webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          headers:
            Cko-Request-Id:
              $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Webhook not found
        '409':
          description: URL already exists in another webhook configuration
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.partiallyUpdateWebhook(\n  \"wh_ahun3lg7bf4e3lohbhni65335u\",\n  {\n    url: \"https://example.com/webhooks/updated\",\n  }\n);"
    delete:
      tags:
        - Webhooks
      summary: Remove webhook
      description: Removes an existing webhook
      parameters:
        - name: id
          required: true
          schema:
            type: string
            pattern: "^(wh)_(\\w{32})$"
          in: path
          description: |
            The webhook identifier
          example: "wh_387ac7a83a054e37ae140105429d76b5"
      responses:
        '200':
          description: Webhook removed successfully
        '401':
          description: Unauthorized
        '404':
          description: Webhook not found
      x-code-samples:
        - lang: Node (Beta)
          source: "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.removeWebhook(\n  \"wh_ahun3lg7bf4e3lohbhni65335u\"\n);"
components:
  schemas:
    Address:
      type: object
      properties:
        address_line1: 
          type: string
          description: The first line of the address
          example: Checkout.com
        address_line2:
          type: string
          description: The second line of the address
          example: 90 Tottenham Court Road
        city:
          type: string
          description: The address city
          example: London
        state:
          type: string
          description: The address state
          example: London
        zip:
          type: string
          description: The address zip/postal code
          example: W1T 4TJ
        country:
          type: string
          description: The two-letter <a href="https://docs.checkout.com/docs/country-codes" target="blank">ISO country code</a> of the address
          example: GB
          maxLength: 2
          minLength: 2
    Batch:
      type: object
      required:
        - id
        - status
        - _links
      properties:
        id:
          type: string
          description: Batch identifier
          pattern: "^bat_(\\w{26})$"
          example: bat_cyukd74c4xoezfuarvuwdcpzou
        status:
          type: string
          description: The status of the batch
          example: Processing
        _links:
          type: object
          required:
            - self
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the batch
              example:
                href: "https://api.checkout.com/batches/bat_fa72f568492b4d3eb6d81e0645e320f6"
    SubmitBatchRequest:
      type: object
      description: The batch request
      required:
        - file_id
        - action
      properties:
        file_id:
          type: string
          pattern: "^file_(\\w{26})$"
          description: The identifier of the batch file previously uploaded via the [Files API](#tag/Files)
          example: "file_6lbss42ezvoufcb2beo76rvwly"
        action:
          type: string
          description: The action to be performed against the batch
          enum:
            - payment
          example: "payment"
        reference:
          type: string
          description: Your reference for the batch. If provided, this will be validated against the batch file's header
          example: payments-20180701
    SubmitBatchResponse:
      type: object
      required:
        - id
        - status
        - _links
      properties:
        id:
          type: string
          description: Batch identifier
          pattern: "^bat_(\\w{26})$"
          example: bat_cyukd74c4xoezfuarvuwdcpzou
        status:
          type: string
          description: The batch status
          example: Processing
        _links:
          type: object
          required:
            - self
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the batch
              example:
                href: "https://api.checkout.com/batches/bat_fa72f568492b4d3eb6d81e0645e320f6"
    Dispute:
      type: object
      properties:
        id:
          type: string
          pattern: "^(dsp)_(\\w{22})$"
          description: The dispute identifier. This is the same as the payment action ID
          example: "dsp_rbhwd2qrg13uhrp2newf"
        category:
          type: string
          description: The reason for the dispute. [Find out more](https://docs.checkout.com/docs/disputes#section-dispute-reasons-and-recommended-evidence)
          enum: [fraudulent, unrecognized, canceled_recurring, product_service_not_received, not_as_described, credit_not_issued, duplicate, incorrect_amount, general]
          example: "fraudulent"
        amount:
          type: number
          description: The amount that is being disputed, in the processing currency
          example: 999
        currency:
          type: string
          description: The processing currency
          example: "GBP"
        reason_code:
          type: string
          description: The reason code provided by the card scheme
          example: "C42"
        status:
          type: string
          description: The current status of the dispute
          enum: [evidence_required, evidence_under_review, resolved, won, lost, canceled, expired, accepted]
          example: "evidence_required"
        relevant_evidence:
          type: array
          items: 
            type: strings
            enum: [proof_of_delivery_or_service, invoice_or_receipt, invoice_showing_distinct_transactions, customer_communication, refund_or_cancellation_policy, proof_of_delivery_or_service_date, recurring_transaction_agreement, additional_evidence]
            example: "proof_of_delivery_or_service"
        evidence_required_by:
          type: string
          format: ISO-8601
          description: The deadline by which to respond to the dispute. This corresponds to `received_on` + `n`, where `n` is a number of calendar days set by the scheme/acquirer
          example: "2018-08-21T00:00:00Z"
        received_on:
          type: string
          format: ISO-8601
          description: The date and time at which the dispute was issued
          example: "2018-08-01T04:00:10Z"
        last_update:
          type: string
          format: ISO-8601
          description: The date and time at which the dispute was last updated
          example: "2018-08-04T10:53:13Z"
        payment:
          type: object
          properties:
            id:
              type: string
              description: The payment identifier
              example: "pay_88cb4e671m1da22e9bbbyx"
            amount:
              type: number
              description: The amount that is being disputed, in the processing currency
              example: 999
            currency:
              type: string
              description: The payment currency
              example: "GBP"
            method:
              type: string
              description: The payment method used
              example: "Visa"
            arn:
              type: string
              description: The acquirer reference number (ARN)
              example: "AA246873253573571073808"
            processed_on:
              type: string
              format: ISO-8601
              description: The date and time at which the payment was requested
              example: "2018-08-01T08:18:10Z"
        _links:
          type: object
          properties:
            self:
              description: The dispute retrieval endpoint
              properties:    
                href:
                  example: "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf"
            evidence:
              description: The dispute evidence retrieval endopint
              properties:    
                href:
                  example: "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf/evidence"
    DisputePaged:
      type: object
      properties:
        limit:
          type: integer
          description: The numbers of items to return
          example: 10
        skip:
          type: integer
          description: The number of results to skip
          example: 10
        from:
          type: string
          format: ISO-8601
          description: The date and time from which to filter disputes, based on the dispute's `last_update` field
          example: "2018-08-12T01:15:56Z"
        to:
          type: string
          format: ISO-8601
          description: The date and time until which to filter disputes, based on the dispute's `last_update` field
          example: "2018-08-13T11:09:01Z"
        statuses:
          type: string
          description: One or more comma-separated statuses. This works like a logical *OR* operator
          example: "evidence_required,evidence_under_review"
        id:
          type: string
          pattern: "^(dsp)_(\\w{22})$"
          description: The unique identifier of the dispute
          example: "dsp_rbhwd2qrg13uhrp2newf"
        payment_id:
          type: string
          pattern: "^(pay)_(\\w{26})$"
          description: The unique identifier of the payment
          example: "pay_88cb4e671m1da22e9bbbyx"
        payment_reference:
          type: string
          description: An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`
          example: "th7zxa1kcnqmes8"
        payment_arn:
          type: string
          description: The acquirer reference number (ARN) that you can use to query the issuing bank
          example: "74548998294293193445538"
        this_channel_only:
          type: boolean
          description: If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business
          example: true
        total_count:
          type: integer
          description: The total number of disputes retrieved (without taking into consideration skip and limit parameters)
          example: 1
        data:
          type: array
          description: The list of disputes
          items:
            $ref: "#/components/schemas/DisputeSummary"
    DisputeSummary:
      type: object
      properties:
        id:
          type: string
          pattern: "^(dsp)_(\\w{22})$"
          description: The dispute identifier. This is the same as the action ID in the reconciliation API or the charge ID in the Hub.
          example: "dsp_rbhwd2qrg13uhrp2newf"
        category:
          type: string
          description: The reason for the dispute. [Find out more](https://docs.checkout.com/docs/disputes#section-dispute-reasons-and-recommended-evidence)
          enum: [fraudulent, unrecognized, canceled_recurring, product_service_not_received, not_as_described, credit_not_issued, duplicate, incorrect_amount, general]
          example: "fraudulent"
        status:
          type: string
          description: The current status of the dispute
          enum: [received, evidence_required, evidence_under_review, resolved, closed, won, lost, canceled, accepted]
          example: "evidence_required"
        amount:
          type: number
          description: The amount that is being disputed, in the processing currency
          example: 999
        currency:
          type: string
          description: The currency the payment was made in
          example: "GBP"
        payment_id:
          type: string
          description: The unique payment identifier
          example: "pay_88cb4e671m1da22e9bbbyx"
        payment_reference:
          type: string
          description: An optional reference (such as an order ID) a merchant can use to later identify the charge. Previously known as TrackId
          example: "th7zxa1kcnqmes8"
        payment_arn:
          type: string
          description: The acquirer reference number that can be used to query the issuing bank
          example: "74548998294293193445538"
        payment_method:
          type: string
          description: The payment method/card scheme
          example: VISA
        evidence_required_by:
          type: string
          format: ISO-8601
          description: The deadline by which to respond to the dispute. This corresponds to `received_on` + `n`, where `n` is a number of calendar days set by the scheme/acquirer
          example: "2018-08-22T00:00:00Z"
        received_on:
          type: string
          format: ISO-8601
          description: The date and time at which the dispute was issued
          example: "2018-08-01T01:15:56Z"
        last_update:
          type: string
          format: ISO-8601
          description: The date and time at which the dispute was last updated
          example: "2018-08-12T04:15:56Z"
        _links:
          type: object
          properties:
            self:
              description: The dispute retrieval endpoint
              properties:    
                href:
                  example: 'https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf'
    Evidence:
      type: object
      properties:
        proof_of_delivery_or_service_file:
          type: string
          description: The file ID of the file you uploaded as a proof of delivery or service
          example: "file_jmbfgkjromvcrn9t4qu4"
        proof_of_delivery_or_service_text:
          type: string
          description: A brief text description of the file. You can also use this field to provide a link
          example: "Delivery slip signed by the customer"
        proof_of_delivery_or_service_date_text:
          type: string
          description: The date on which the item was delivered. You can also use this field to provide a link
          example: "Merchandise was delivered on 2018-12-30"
    File:
      type: object
      required:
          - path
          - purpose
      properties:
        path:
          type: string
          description: The path of the file to upload and its type
          example: "file=@/path/receipt.png;type=image/png"
        purpose:
          type: string
          description: The purpose of the file upload. You must set this to `dispute_evidence`
          example: "dispute_evidence"
      
    FilePurpose:
      type: string
      description: The list of file upload purposes. Currently this is only `dispute_evidence`
      example: "dispute_evidence"
      enum:
        - dispute_evidence
    FileResult:
      type: object
      description: File was retrieved successfully
      properties:
        id:
          type: string
          description: The file identifier
          example: "file_6lbss42ezvoufcb2beo76rvwly"
        filename:
          type: string
          description: The filename, including its extension
          example: "receipt.jpg"
        purpose:
          $ref: "#/components/schemas/FilePurpose"
        size:
          type: integer
          description: The size of the file upload object (in bytes)
          example: 1024
        uploaded_on:
          type: string
          format: ISO-8601
          description: The date and time file was uploaded (in UTC)
          example: "2019-05-17T16:48:52Z"
        _links:
          type: object
          properties:
            self:
              description: The file information retrieval URL
              properties:    
                href:
                  example: "https://api.checkout.com/files/file_6lbss42ezvoufcb2beo76rvwly"
            download:
              description: The temporary file download URL. This expires after 60 minutes
              properties:    
                href:
                  example: "https://cabinet-upload-prod.s3.eu-west-1.amazonaws.com/ucdac/ucdac/6lbss42ezvoufcb2beo76rvwly?X-Amz-Expires=3600&x-amz-security-token=FQoDYXdzENL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEa"
    FileUploadResponse:
      type: object
      description: File uploaded successfully
      properties:
        id:
          type: string
          description: The file identifier
          example: "file_6lbss42ezvoufcb2beo76rvwly"
        _links:
          type: object
          properties:
            self:
              description: The file information retrieval URL
              properties:    
                href:
                  example: "https://api.checkout.com/files/file_6lbss42ezvoufcb2beo76rvwly"
    ProvideEvidenceRequest:
      type: object
      properties:
        proof_of_delivery_or_service_file:
          type: string
          description: A file containing proof of delivery of goods or services
          example: "file_jmbfgkjromvcrn9t4qu4"
        proof_of_delivery_or_service_text:
          type: string
          maximum: 500
          description: A brief text description of the file. You can also use this field to provide a link
          example: "http://checkout.com/document.pdf"
        invoice_or_receipt_file:
          type: string
          description: A file containing an invoice/receipt
          example: "file_jmbfgkjromvcrn9t4qu4"
        invoice_or_receipt_text:
          type: string
          maximum: 500
          description: A brief text description of the file. You can also use this field to provide a link
          example: "Copy of the invoice"
        invoice_showing_distinct_transactions_file:
          type: string
          description: A file containing invoice showing two distinct transactions
          example: "file_jmbfgkjromvcrn9t4qu4"
        invoice_showing_distinct_transactions_text:
          type: string
          maximum: 500
          description: A brief text description of the file. You can also use this field to provide a link
          example: "Copy of invoice #1244 showing two transactions"
        customer_communication_file:
          type: string
          description: A file containing customer cummunication
          example: "file_jmbfgkjromvcrn9t4qu4"
        customer_communication_text:
          type: string
          maximum: 500
          description: A brief text description of the file. You can also use this field to provide a link
          example: "Copy of an email exchange with the cardholder"
        refund_or_cancellation_policy_file:
          type: string
          description: A file containing refund/cancellation policy
          example: "file_jmbfgkjromvcrn9t4qu4"
        refund_or_cancellation_policy_text:
          type: string
          maximum: 500
          description: A brief text description of the file. You can also use this field to provide a link
          example: "Copy of the refund policy"
        recurring_transaction_agreement_file:
          type: string
          description: A file containing the recurring transaction agreement
          example: "file_jmbfgkjromvcrn9t4qu4"
        recurring_transaction_agreement_text:
          type: string
          maximum: 500
          description: A brief text description of the file. You can also use this field to provide a link
          example: "Copy of the recurring transaction agreement"
        additional_evidence_file:
          type: string
          description: A file containing additional supporting documents
          example: "file_jmbfgkjromvcrn9t4qu4"
        additional_evidence_text:
          type: string
          maximum: 500
          description: A brief text description of the file. You can also use this field to provide a link
          example: "Scanned document"
        proof_of_delivery_or_service_date_file:
          type: string
          description: A file showing the delivery date of the provided service/merchandise
          example: "file_jmbfgkjromvcrn9t4qu4"
        proof_of_delivery_or_service_date_text:
          type: string
          maximum: 500
          description: A brief text description of the file. You can also use this field to provide a link
          example: "Copy of the customer receipt showing the merchandise was delivered on 2018-12-20"
          _links:
            type: object
            properties:
              self:
                description: The evidence retrieval endpoint
                properties:    
                  href:
                    example: "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf/evidence"
              parent:
                description: The dispute retrieval endpoint
                properties:    
                  href:
                     example: "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf"
    Error:
      type: object
      properties:
        request_id:
          type: string
          example: 0HL80RJLS76I7
        error_type:
          type: string
          example: request_malformed
    BillingDetails:
      type: object
      properties:
        address_line_1:
          type: string
          example: 372 Weimann Lane
        address_line_2:
          type: string
          example: Rolfson Alley
        post_code:
          type: string
          example: ew1 7zb
        country:
          type: string
          example: SJ
        city:
          type: string
          example: North Benedicthaven
        state:
          type: string
          example: Georgia
        phone:
          $ref: '#/components/schemas/Phone'
    Card:
      type: object
      properties:
        customer_id:
          type: string
          example: cust_7508EA38E86A4569AF12E483519E332D
        expiry_month:
          type: string
          example: '06'
        expiry_year:
          type: string
          example: 2018
        billing_details:
          $ref: '#/components/schemas/BillingDetails'
        id:
          type: string
          example: card_D44D7F4CCC6348698717CD80072808B0
        last4:
          type: string
          example: 424242******4242
        payment_method:
          type: string
          example: VISA
        fingerprint:
          type: string
          example: f639cab2745bee4140bf86df6b6d6e255c5945aac3788d923fa047ea4c208622
        name:
          type: string
          example: Test Customer
        cvv_check:
          type: string
          example: 'Y'
        avs_check:
          type: string
          example: S
    CustomerPaymentPlan:
      type: object
      properties:
        id:
          type: string
        customer_plan_id:
          type: string
        card_id:
          type: string
        customer_id:
          type: string
        name:
          type: string
        plan_track_id:
          type: string
        auto_cap_time:
          type: string
        value:
          type: integer
        currency:
          type: string
        cycle:
          type: string
        recurring_count:
          type: integer
        recurring_count_left:
          type: integer
        total_collected_value:
          type: integer
        total_collected_count:
          type: integer
        current_recurring_status:
          type: integer
        start_date:
          type: string
        previous_recurring_date:
          type: string
        next_recurring_date:
          type: string
    Data:
      type: object
      description: The event data
      properties:
        id:
          description: The payment unique identifier
          allOf:
            - $ref: '#/components/schemas/PaymentId'
        action_id:
          description: The unique identifier for the action performed against this payment
          allOf:
            - $ref: '#/components/schemas/ActionId'
        amount:
          type: integer
          description: The payment amount
          example: 6540
        currency:
          type: string
          description: The currency in which the payment was made (<a href="https://docs.checkout.com/docs/currency-codes" target="blank">three-letter ISO code</a>)
          example: USD
          maxLength: 3
          minLength: 3
        approved:
          type: boolean
          description: Whether the payment request was approved
          example: true
        status:
          type: string
          description: The status of the payment
          enum:
            - Pending
            - Authorized
            - Voided
            - Partially Captured
            - Captured
            - Partially Refunded
            - Refunded
            - Declined
            - Cancelled
          example: Authorized
        auth_code:
          type: string
          description: The acquirer authorization code, if the payment was authorized.
          example: "643381"
        response_code:
          type: string
          description: The gateway response code
          example: "10000"
        response_summary:
          type: string
          description: The gateway response summary
          example: "Approved"
        3ds:
          type: object
          description: Provides 3D Secure enrollment status if the payment was downgraded to non-3D Secure
          allOf:
            - $ref: '#/components/schemas/3dsEnrollmentData'
          example:
            downgraded: true
            enrolled: N
        flagged:
          type: boolean
          description: Whether the payment was flagged by a risk check
          default: false
          example: true
        source:
          description: The source of the payment
          type: object
          allOf:
            - $ref: '#/components/schemas/PaymentResponseSource'
        customer:
          type: object
          description: The customer to which this payment is linked
          allOf:
            - $ref: '#/components/schemas/PaymentResponseCustomer'
        processed_on:
          description: The date/time the payment was processed
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        reference:
          type: string
          description: Your reference for the payment
          example: ORD-5023-4E89
        metadata:
          type: object
          description: A set of key-value pairs that you can attach to a payment. It can be useful for storing additional information in a structured format.
          example:
            coupon_code: "NY2018"
            partner_id: 123989
    EventId:
      type: string
      description: The unique event identifier
      maxLength: 30
      minLength: 30
      example: "evt_az5sblvku4ge3dwpztvyizgcau"
    EventLinks:
      type: object
      description: The links related to the event
      properties:
        self:
          type: object
          allOf:
            - $ref: '#/components/schemas/Link'
          description: The URI of the event
          example:
            href: "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau"
        webhooks-retry:
          type: object
          allOf:
            - $ref: '#/components/schemas/Link'
          description: A link to retry all of the webhooks configured for the event
          example:
            href: "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/webhooks/retry"
    EventObject:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/EventId'
        type:
          type: string
          description: The event type
          example: payment_approved
        version:
          type: string
          description: Determines the version of the event sent
          example: "2.0"
        created_on:
          description: The date/time the event occurred
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        data:
          $ref: '#/components/schemas/Data'
        notifications:
          type: array
          description: The notifications (e.g., webhooks) that have been sent for the event
          items:
            $ref: '#/components/schemas/NotificationSummary'
        _links:
          $ref: '#/components/schemas/EventLinks'
    EventResult:
      type: object
      properties:
        total_count:
          type: integer
          example: 100
          description: The total number of events
        limit:
          type: integer
          description: The `limit` query parameter
          example: 10
        skip:
          type: integer
          example: 10
          description: The `skip` query parameter
        from:
          type: string
          format: date-time
          description: The `from` query parameter
          example: "2018-01-01T00:00:00Z"
        to:
          type: string
          format: date-time
          example: "2018-01-15T12:00:00Z"
          description: The `to` query parameter
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventSummary'
    EventSummary:
      type: object
      properties:
        id:
          type: string
          maxLength: 30
          minLength: 30
          description: The event identifier
          example: evt_az5sblvku4ge3dwpztvyizgcau
        type:
          type: string
          description: The event type
          example: payment_approved
        created_on:
          description: The date/time the event occurred
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        _links:
          $ref: '#/components/schemas/EventLinks'
    EventTypesObject:
      type: object
      properties:
        version:
          type: string
          example: "2.0"
        event_types:
          type: array
          items:
            type: string
          example:
            - card_verification_declined
            - card_verified
            - dispute_canceled
            - dispute_evidence_required
            - dispute_expired
            - dispute_lost
            - dispute_resolved
            - dispute_won
            - payment_approved
            - payment_risk_matched
            - payment_pending
            - payment_declined
            - payment_expired
            - payment_cancelled
            - payment_voided
            - payment_void_declined
            - payment_captured
            - payment_capture_declined
            - payment_capture_pending
            - payment_refunded
            - payment_refund_declined
            - payment_refund_pending
            - payment_chargeback
            - payment_retrieval
    Notification:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/NotificationId'
        url:
          type: string
          description: The notification endpoint
          example: https://example.com/webhooks
        success:
          type: boolean
          description: Whether the notification eventually succeeded
          example: false
        content_type:
          type: string
          description: The content type of the data sent to the endpoint
          example: json
        attempts:
          type: array
          description: The notification events ordered by timestamp in descending order (latest first)
          items:
            $ref: '#/components/schemas/NotificationAttempt'
        _links:
          type: object
          description: The links related to the notification
          properties:
            self:
              type: object
              description: The URI of the notification
              allOf:
                - $ref: '#/components/schemas/Link'
              example:
                href: https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/notifications/ntf_az5sblvku4ge3dwpztvyizgcau
            retry:
              type: object
              description: A link to retry the notification to the configured webhook
              allOf:
                - $ref: '#/components/schemas/Link'
              example:
                href: https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/webhooks/wh_5nuzkt62ddxuho5rwsvt6pyesi/retry
    NotificationAttempt:
      type: object
      properties:
        status_code:
          type: integer
          description: The HTTP status code returned from the target server
          example: 400
        response_body:
          type: string
          description: The response body returned from the target server
          example: Bad Request
        retry_mode:
          type: string
          description: Whether the notification was sent automatically or requested manually
          enum:
            - Automatic
            - Manual
        timestamp:
          type: string
          description: The date/time the attempt was made
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
    NotificationId:
      type: string
      description: The unique notification identifier
      maxLength: 30
      minLength: 30
      example: "ntf_az5sblvku4ge3dwpztvyizgcau"
    NotificationSummary:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/NotificationId'
        url:
          type: string
          description: The notification endpoint
          example: https://example.com/webhooks
        success:
          type: boolean
          description: Whether the notification eventually succeeded
          example: false
        _links:
          type: object
          description: The links related to the notification
          properties:
            self:
              type: string
              example:
                href: https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/notifications/ntf_az5sblvku4ge3dwpztvyizgcau
    Phone:
      type: object
      properties:
        country_code:
          type: string
          example: '975'
        number:
          type: string
          example: '174217187'
    Product:
      type: object
      properties:
        name:
          type: string
          example: Tablet 1 gold limited
        description:
          type: string
          example: Nokia Lumia
        sku:
          type: string
          example: 1aab2aa
        price:
          type: integer
          example: 100
        quantity:
          type: integer
          example: 1
        image:
          type: string
          example: 'http://www.test_Jabari.com/'
        shipping_cost:
          type: integer
          example: 10
        tracking_url:
          type: string
          example: 'https://www.tracker.com'
    ShippingDetails:
      type: object
      properties:
        address_line_1:
          type: string
          example: 333 Cormier Bypass
        address_line_2:
          type: string
          example: Rolfson Alley
        post_code:
          type: string
          example: BR3 6TK
        country:
          type: string
          example: GB
        city:
          type: string
          example: Bromley
        state:
          type: string
          example: Greater London
        phone:
          $ref: '#/components/schemas/Phone'
    InstrumentRequest:
      type: object
      required:
        - type
        - token
      properties:
        type:
          type: string
          description: The instrument type
          pattern: token
          example: token
        token:
          type: string
          description: The Checkout.com token
          pattern: ^(tok)_(\w{26})$ | ^(card_tok)_(\w{12})$
          example: tok_asoto22g2fsu7prwomy12sgfsa
    InstrumentResponse:
      type: object
      required:
        - id
        - type
        - expiry_month
        - expiry_year
        - last4
        - bin
      properties:
          id:
[...]
